*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/

project/*
!project/plugins.sbt
!project/build.properties

.DS_Store
.bsp/

.idea/

settings.json
